<%- include('partials/header') -%>
<div class="container my-5">
  <div class="card shadow-xl pl-5 pt-2">
    <p><strong>User Name</strong>: <%= user.userName %></p>
    <p><strong>Email</strong>: <%= user.email %></p>
</div>
  
  <div class="row grid grid-cols-2 mt-5 mr-5">
    <div class="">
      <div class=" card mt-5 shadow-xl">
        <ul class="grid grid-cols-2 row list-unstyled card-body mx-1">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class=" mt-5 card-body shadow-xl">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="mt-5 text-center">
          <a class="btn btn-accent" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>