<%- include('partials/header') -%>
<div class="container my-5">
  <div class="row grid grid-cols-2 mt-5 mr-5">
      <div class="">
          <div class="card shadow-xl pl-5 pt-2">
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-accent card-actions pt-2.5">Logout</a>
          </div>
          <div class="mt-5 card  shadow-xl card-body">
            <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-accent" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class=" card mt-5 shadow-xl">
        <ul class="grid grid-cols-2 row list-unstyled card-body mx-1">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class=" mt-5 card-body shadow-xl">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="mt-5 text-center">
          <a class="btn btn-accent" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>